<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.framework</string>
				<string>com.apple.plugin</string>
				<string>com.apple.application-bundle</string>
				<string>com.apple.bundle</string>
				<string>com.apple.metadata-importer</string>
				<string>com.apple.automator-action</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>BMReportDocument</string>
		</dict>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.systempreference.prefpane</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>NSDocumentClass</key>
			<string>BMReportDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>fr.whitebox.Cong</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.5</string>
		<key>ppc</key>
		<string>10.5</string>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSExecutableArchitectures</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
		<string>ppc</string>
	</array>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>WBVersionCheckURL</key>
	<string>http://s.sudre.free.fr/Software/documentation/Cong/RemoteVersion.plist</string>
</dict>
</plist>
