<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__ROOT__</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>NSPrincipalClass</key>
		</array>
	</dict>
	<key>.CFBundleDevelopmentRegion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</key>
	<key>.CFBundleHelpBookFolder</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</key>
	<key>.CFBundleHelpBookName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</key>
	<key>.CFBundleIdentifier</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>2</integer>
		<key>ShouldConformToFormat</key>
		<false/>
		<key>AuthorizedChildrenTypes</key>
		<array/>
		<key>AuthorizedChildrenKeys</key>
		<array/>
		<key>RequiredChildrenKeys</key>
		<array/>
		<key>AuthorizedValues</key>
		<array/>
	</dict>
	<key>.CFBundleExecutable</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleInfoDictionaryVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>6.0</string>
		</array>
	</dict>
	<key>.CFBundleName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundlePackageType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>APPL</string>
		</array>
	</dict>
	<key>.CFBundleSignature</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>1</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.CFBundleShortVersionString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSMainNibFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrincipalClass</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.LSMinimumSystemVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSRequiresNativeExecution</key>
	<dict>
		<key>Type</key>
		<string>NSNumber</string>
		<key>AuthorizedValues</key>
		<array>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.NSAppleScriptEnabled</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleURLTypes</key>
	<key>
		<key>Type</key>
		<string>NSArray</string>
	</key>
	<key>.CFBundleDocumentTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>ChildrenVirtualKey</key>
		<string>Type</string>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSArray</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.Type</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>AuthorizedChildrenKeys</key>
		<array>
			<string>CFBundleTypeExtensions</string>
			<string>CFBundleTypeIconFile</string>
			<string>CFBundleTypeName</string>
			<string>CFBundleTypeOSTypes</string>
			<string>LSTypeIsPackage</string>
			<string>CFBundleTypeRole</string>
			<string>NSDocumentClass</string>
			<string>NSExportableAs</string>
		</array>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>NSDocumentClass</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.Type.CFBundleTypeName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes.Type.CFBundleTypeIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes.Type.LSTypeIsPackage</key>
	<dict>
		<key>Type</key>
		<string>NSNumber</string>
		<key>AuthorizedValues</key>
		<array>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.Type.CFBundleTypeRole</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>Viewer</string>
			<string>Editor</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.Type.NSDocumentClass</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
</dict>
</plist>
