<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__ROOT__</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>
	<key>.CFAppleHelpAnchor</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleAllowMixedLocalizations</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDevelopmentRegion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDisplayName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>ChildrenVirtualKey</key>
		<string>CFBundleDocumentType</string>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSDictionary</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>AuthorizedChildrenKeys</key>
		<array>
			<string>CFBundleTypeExtensions</string>
			<string>CFBundleTypeIconFile</string>
			<string>CFBundleTypeName</string>
			<string>CFBundleTypeOSTypes</string>
			<string>LSTypeIsPackage</string>
			<string>CFBundleTypeRole</string>
			<string>NSDocumentClass</string>
			<string>NSExportableAs</string>
			<string>CFBundleTypeMIMETypes</string>
			<string>LSCanProvideIMVideoDataSource</string>
			<string>LSIsAppleDefaultForType</string>
			<string>LSItemContentTypes</string>
			<string>LSHandlerRank</string>
			<string>NSExportableTypes</string>
			<string>NSPersistentStoreTypeKey</string>
		</array>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>CFBundleTypeRole</string>
			<string>CFBundleTypeName</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeExtensions</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Deprecated</key>
		<true/>
		<key>DeprecatedByMacOSXVersion</key>
		<string>10.5</string>
		<key>DeprecatedAlternatives</key>
		<array>
			<string>LSItemContentTypes</string>
		</array>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSString</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeMIMETypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Deprecated</key>
		<true/>
		<key>DeprecatedByMacOSXVersion</key>
		<string>10.5</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeOSTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Deprecated</key>
		<true/>
		<key>DeprecatedByMacOSXVersion</key>
		<string>10.5</string>
		<key>DeprecatedAlternatives</key>
		<array>
			<string>LSItemContentTypes</string>
		</array>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSString</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeRole</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>None</string>
			<string>Shell</string>
			<string>Viewer</string>
			<string>Editor</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSItemContentTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSIsAppleDefaultForType</key>
	<dict>
		<key>Private</key>
		<true/>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSCanProvideIMVideoDataSource</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSHandlerRank</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>Owner</string>
			<string>Alternate</string>
			<string>None</string>
			<string>Default</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSTypeIsPackage</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.NSDocumentClass</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.NSExportableAs</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Deprecated</key>
		<true/>
		<key>DeprecatedByMacOSXVersion</key>
		<string>10.5</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.NSExportableTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.NSPersistentStoreTypeKey</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleExecutable</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.CFBundleGetInfoString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Deprecated</key>
		<true/>
		<key>DeprecatedAlternatives</key>
		<array>
			<string>CFBundleShortVersionString</string>
			<string>NSHumanReadableCopyright</string>
		</array>
	</dict>
	<key>.CFBundleHelpBookFolder</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleHelpBookName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleIdentifier</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
		<key>Format</key>
		<integer>6</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleInfoDictionaryVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>6.0</string>
		</array>
	</dict>
	<key>.CFBundleLocalizations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundlePackageType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>APPL</string>
		</array>
	</dict>
	<key>.CFBundleShortVersionString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleSignature</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>1</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.CFBundleURLTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.LSApplicationCategoryType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
		<key>Format</key>
		<integer>6</integer>
		<key>ShouldConformToFormat</key>
		<true/>
		<key>AuthorizedValues</key>
		<array>
			<string>public.app-category.business</string>
			<string>public.app-category.developer-tools</string>
			<string>public.app-category.education</string>
			<string>public.app-category.entertainment</string>
			<string>public.app-category.finance</string>
			<string>public.app-category.games</string>
			<string>public.app-category.action-games</string>
			<string>public.app-category.adventure-games</string>
			<string>public.app-category.arcade-games</string>
			<string>public.app-category.board-games</string>
			<string>public.app-category.card-games</string>
			<string>public.app-category.casino-games</string>
			<string>public.app-category.dice-games</string>
			<string>public.app-category.educational-games</string>
			<string>public.app-category.family-games</string>
			<string>public.app-category.kids-games</string>
			<string>public.app-category.music-games</string>
			<string>public.app-category.puzzle-games</string>
			<string>public.app-category.racing-games</string>
			<string>public.app-category.role-playing-games</string>
			<string>public.app-category.simulation-games</string>
			<string>public.app-category.sports-games</string>
			<string>public.app-category.strategy-games</string>
			<string>public.app-category.trivia-games</string>
			<string>public.app-category.word-games</string>
			<string>public.app-category.graphics-design</string>
			<string>public.app-category.healthcare-fitness</string>
			<string>public.app-category.lifestyle</string>
			<string>public.app-category.medical</string>
			<string>public.app-category.music</string>
			<string>public.app-category.news</string>
			<string>public.app-category.photography</string>
			<string>public.app-category.productivity</string>
			<string>public.app-category.reference</string>
			<string>public.app-category.social-networking</string>
			<string>public.app-category.sports</string>
			<string>public.app-category.travel</string>
			<string>public.app-category.utilities</string>
			<string>public.app-category.video</string>
			<string>public.app-category.weather</string>
		</array>
	</dict>
	<key>.LSArchitecturePriority</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSBackgroundOnly</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSEnvironment</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>
	<key>.LSFileQuarantineEnabled</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSFileQuarantineExcludedPathPatterns</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.LSGetAppDiedEvents</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSHasLocalizedDisplayName</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSMinimumSystemVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>AuthorizedChildrenKeys</key>
		<array>
			<string>i386</string>
			<string>ppc</string>
			<string>x86_64</string>
			<string>ppc64</string>
		</array>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.i386</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.ppc</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.x86_64</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.ppc64</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMultipleInstancesProhibited</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSRequiresNativeExecution</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSUIElement</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.LSUIPresentationMode</key>
	<dict>
		<key>Type</key>
		<string>NSNumber</string>
		<key>AuthorizedValues</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
	</dict>
	<key>.LSVisibleInClassic</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.NSAppleScriptEnabled</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.NSContactsUsageDescription</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSDockTilePlugIn</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSHelpFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Deprecated</key>
		<true/>
	</dict>
	<key>.NSHumanReadableCopyright</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSJavaNeeded</key>
	<dict>
		<key>Deprecated</key>
		<true/>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.NSJavaPath</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Deprecated</key>
		<true/>
	</dict>
	<key>.NSJavaRoot</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSMainNibFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPersistentStoreTypeKey</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrincipalClass</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.NSServices</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.NSSupportsSuddenTermination</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.UTExportedTypeDeclarations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.UTImportedTypeDeclarations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	
	<key>.CSResourcesFileMapped</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.QuartzGLEnable</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>SUFeedURL</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>SUEnableSystemProfiling</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>SUShowReleaseNotes</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>SUPublicDSAKeyFile</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>SUScheduledCheckInterval</key>
	<dict>
		<key>Type</key>
		<string>NSNumber</string>
	</dict>
	<key>SUAllowsAutomaticUpdates</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
</dict>
</plist>
