<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__ROOT__</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>CFBundleName</string>
			<string>CFBundleIdentifier</string>
			<string>CFBundleVersion</string>
			<string>CFBundlePackageType</string>
		</array>
	</dict>
	<key>.CFBundleDevelopmentRegion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleExecutable</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.CFBundleGetInfoString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Deprecated</key>
		<true/>
	</dict>
	<key>.CFBundleIdentifier</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
		<key>Format</key>
		<integer>6</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleInfoDictionaryVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>6.0</string>
		</array>
	</dict>
	<key>.CFBundleName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundlePackageType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>FMWK</string>
		</array>
	</dict>
	<key>.CFBundleShortVersionString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleSignature</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>1</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.CFBundleVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
</dict>
</plist>
