<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__ROOT__</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>CFBundleDisplayName</string>
			<string>CFBundleIdentifier</string>
			<string>CFBundleVersion</string>
			<string>LSRequiresIPhoneOS</string>
		</array>
	</dict>
	<key>.CFBundleAllowMixedLocalizations</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDevelopmentRegion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDisplayName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>ChildrenVirtualKey</key>
		<string>CFBundleDocumentType</string>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSDictionary</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>AuthorizedChildrenKeys</key>
		<array>
			<string>CFBundleTypeIconFiles</string>
			<string>CFBundleTypeName</string>
			<string>LSItemContentTypes</string>
			<string>LSHandlerRank</string>
		</array>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>CFBundleTypeName</string>
		</array>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeIconFiles</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.CFBundleTypeName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSItemContentTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleDocumentTypes.CFBundleDocumentType.LSHandlerRank</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>Owner</string>
			<string>Alternate</string>
			<string>None</string>
			<string>Default</string>
		</array>
	</dict>
	<key>.CFBundleExecutable</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.CFBundleIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleIdentifier</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
		<key>Format</key>
		<integer>6</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleInfoDictionaryVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>6.0</string>
		</array>
	</dict>
	<key>.CFBundleLocalizations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundlePackageType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>APPL</string>
		</array>
	</dict>
	<key>.CFBundleShortVersionString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleSignature</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>1</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.CFBundleURLTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.LSRequiresIPhoneOS</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.MinimumOSVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.NSCalendarsUsageDescription</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSContactsUsageDescription</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSLocationUsageDescription</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSMainNibFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPhotoLibraryUsageDescription</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrincipalClass</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.NSRemindersUsageDescription</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.UTExportedTypeDeclarations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.UTImportedTypeDeclarations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	
	<key>.CSResourcesFileMapped</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIAppFonts</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSString</string>
		</array>
	</dict>
	
	<key>.UIApplicationExitsOnSuspend</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIBackgroundModes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>ChildrenVirtualKey</key>
		<string>UIBackgroundModes</string>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSString</string>
		</array>
	</dict>
	<key>.UIBackgroundModes.UIBackgroundModes</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>audio</string>
			<string>location</string>
			<string>voip</string>
		</array>
	</dict>
	
	<key>.UIDeviceFamily</key>
	<dict>
	</dict>
	
	<key>.UIFileSharingEnabled</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIInterfaceOrientation</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
	
	<key>.UILaunchImageFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.UIPrerenderedIcon</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIRequiresPersistentWiFi</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIStatusBarHidden</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIStatusBarStyle</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>UIStatusBarStyleDefault</string>
			<string>UIStatusBarStyleBlackTranslucent</string>
			<string>UIStatusBarStyleBlackOpaque</string>
		</array>
	</dict>
	
	<key>.UISupportedExternalAccessoryProtocols</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	
	<key>.UISupportedInterfaceOrientations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>ChildrenVirtualKey</key>
		<string>UISupportedInterfaceOrientations</string>
		<key>AuthorizedChildrenTypes</key>
		<array>
			<string>NSString</string>
		</array>
	</dict>
	<key>.UISupportedInterfaceOrientations.UISupportedInterfaceOrientations</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
	
	<key>.UIViewEdgeAntialiasing</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
	<key>.UIViewGroupOpacity</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
</dict>
</plist>
