<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__ROOT__</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>

	<key>.CFBundleDevelopmentRegion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleExecutable</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.CFBundleIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleIdentifier</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
		<key>Format</key>
		<integer>6</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleInfoDictionaryVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>6.0</string>
		</array>
	</dict>
	<key>.CFBundlePackageType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>BNDL</string>
		</array>
	</dict>
	<key>.CFBundleShortVersionString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleSignature</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>1</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.CFBundleURLTypes</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.CFPluginDynamicRegistration</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>YES</string>
			<string>NO</string>
		</array>
	</dict>
	<key>.CFPluginDynamicRegisterFunction</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFPluginFactories</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>
	<key>.CFPluginTypes</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>
	<key>.CFPluginUnloadFunction</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
		
</dict>
</plist>
