<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__ROOT__</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>RequiredChildrenKeys</key>
		<array>
			<string>CFBundleIdentifier</string>
			<string>NSPrincipalClass</string>
		</array>
	</dict>
	<key>.CFBundleAllowMixedLocalizations</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	<key>.CFBundleDevelopmentRegion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleExecutable</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	<key>.CFBundleGetInfoString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Deprecated</key>
		<true/>
	</dict>
	<key>.CFBundleIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundleIdentifier</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
		<key>Format</key>
		<integer>6</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleInfoDictionaryVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>6.0</string>
		</array>
	</dict>
	<key>.CFBundleLocalizations</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
	</dict>
	<key>.CFBundleName</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.CFBundlePackageType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>AuthorizedValues</key>
		<array>
			<string>BNDL</string>
		</array>
	</dict>
	<key>.CFBundleShortVersionString</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<false/>
	</dict>
	<key>.CFBundleSignature</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>1</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.CFBundleVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	
	<key>.LSArchitecturePriority</key>
	<dict>
		<key>Type</key>
		<string>NSArray</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSEnvironment</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>
	<key>.LSMinimumSystemVersion</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
		<key>AuthorizedChildrenKeys</key>
		<array>
			<string>i386</string>
			<string>ppc</string>
			<string>x86_64</string>
			<string>ppc64</string>
		</array>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.i386</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.ppc</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.x86_64</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSMinimumSystemVersionByArchitecture.ppc64</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>Format</key>
		<integer>4</integer>
		<key>ShouldConformToFormat</key>
		<true/>
	</dict>
	<key>.LSRequiresNativeExecution</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>

	<key>.NSHumanReadableCopyright</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSMainNibFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrefPaneIconFile</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrefPaneIconLabel</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrefPaneIOServiceAttributesToMatch</key>
	<dict>
		<key>Type</key>
		<string>NSDictionary</string>
	</dict>
	<key>.NSPrefPaneIOServiceAttributesToMatch.HIDPointerAccelerationType</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrefPaneIOServiceAttributesToMatch.VendorID</key>
	<dict>
		<key>Type</key>
		<string>NSNumber</string>
	</dict>
	<key>.NSPrefPaneIOServiceToMatch</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrefPaneSearchParameters</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
	</dict>
	<key>.NSPrincipalClass</key>
	<dict>
		<key>Type</key>
		<string>NSString</string>
		<key>CanNotBeEmpty</key>
		<true/>
	</dict>
	
	<key>.CSResourcesFileMapped</key>
	<dict>
		<key>AuthorizedValues</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>Yes</string>
			<string>No</string>
			<string>YES</string>
			<string>NO</string>
			<true/>
			<false/>
		</array>
	</dict>
	
</dict>
</plist>
